<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               <!--Creative Commons License-->
               <a rel="license" href="//creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a> 
                {{site.company_name}} <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
                </div>
            </div>
</footer>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
